<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281808901895-o7qufd085ogbj91l6durrdoiolq4gcg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281808901895-o7qufd085ogbj91l6durrdoiolq4gcg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDvRaOgT4L9gcRvf_ZGWuy5bN-oJmL1Q9M</string>
	<key>GCM_SENDER_ID</key>
	<string>281808901895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hires.app</string>
	<key>PROJECT_ID</key>
	<string>jobfe-a636f</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfe-a636f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281808901895:ios:bbc8094305398e10e6d7a2</string>
</dict>
</plist>